@charset "utf-8";
/* CSS Document */
.tinngan{
	padding-left:200px;
	margin-left:50px;
}
.about{
	text-align:center;
}
.form-group
{
	margin:10px, 0px, 0px, 0px;

}
.form-group label
{
	font-variant:small-caps;
	font-weight:bold;
}
.form-control
{
	width:400px;
	padding:5px;
	outline:none;
	border:1px solid gray;
	border-radius:3px;
}
.form-control:focus
{ 
   background-color:#C3C;
   box-shadow:0 0 3px red;
   border:1px solid #C0C;
}
.form-button
{
	padding:8px 30px;
	outline:none;
	border:none;
	border-radius:20px;
	font-weight:bold;
	background-clip:white;
	color:orangered;
	box-shadow:inset 0 0 20px blue;
}
.form-button:hover
{
	color: blue;
	box-shadow:inset 0 0 20px gray;
}

