------layout*/
*{margin:0px; padding:0px; box-sizing:border-box}
body{
	text-align:justify;
}
.layout
{
	max-width: 1250px;
	margin:0 auto;
}
header{
background-image: url(../anh/bannercmb.png);
background-size: 100% 100%;
height:0px;
padding-bottom: 25%;
}

nav{
	line-height:40px;
	background-color:#00F;
	color: white;
}
.menubottom ul
{
	background:#00F;
	margin: 0px;
	padding: 0px;

}
.menubottom>ul>span>li
{
	display: inline-block;
}
.menubottom ul li 
{
	padding: 10px 8px 10px 8px;
	position: relative;
	
}
.menubottom ul li a
{
	color: white;
	text-decoration: none;
	padding-right: 8px;
	padding-left: 8px;
}
.menubottom>ul>span>li: hover
{background: wheat;
}
.menubottom>ul>span>li: hover>a
{
	color: orangered;
}
.menubottom .menuright
{
	float: right;
}
.menubottom .submenu
{
	position: absolute;
	top: 45px;
	left: 0px;
	display: none;
	padding: 0px;
	margin: 0px;
	list-style: none;
	border-radius: 3px;
	width: 200px;
	background-color: white;
	box-shadow:0 0 1px gray;
}
.menubottom .submenu a
{
	display: block;
	line-height: 30px;
	color: red;
	text-decoration: none;
	padding: 0px 10px;
}
.menubottom .submenu li:hover
{
	background-color:#00F;
}
.menubottom .submenu li:hover a 
{
	color: white;
}
.menubottom>ul>span>li:hover>.submenu
{
	display: block;
}
	 

article
{
	min-height:400px;
	width: 74%;
	background-color: white;
	float: left;
}
article .gif{
	background-color:#F00;
	color:#FFF;
	padding:0px;
}
aside .title{
	text-align:center
}
aside
{
	min-height:400px;
	width: 26%;
	background-color: lightgray;
	float: right;
}
aside .video {
	padding:10px 0px 0px 0px;
}

aside .form-group {
	padding:10px 10px 0px 10px;
}
.vmenu{
	padding: 0px;
	margin:: 5px;
	list-style: none;
	border-radius: 3px;
	box-shadow: 0 0 5px gray;
	
}

.vmenu a{
	background:url(../anh/logoevent.png) no-repeat 10px center;
	background-size: 15px;
	display: block;
	border-bottom: 1px dotted black;
	color: black;
	padding: 8px 5px 8px 30px;
}
.vmenu a:hover
{
	background:url(../anh/logoevent.png) no-repeat 10px center;
	background-size: 15px;
	display: block;
	border-bottom: 1px dotted #FFFFFF;
	color: white;
	background-color: blue;
	padding: 8px 5px 8px 30px;
}

footer
{
	border-top: 6px double #0000FF;
	line-height: 50px;
	background-color: lightcyan;
	clear: both;
}
footer .foo{
	float:left;
}
footer .ifr{
	float:left;
	margin-left:500px;
}
iframe[ name = page]
{
	width : 100%;
	min-height: 400px;	
}
a{
	color: blue;
	text-decoration: none;
	margin: 0 10px;
}
a: hover{
	color: #FFF;
	text-decoration: underline;
	font-style: normal;
}


	

	
	
	
